.explorer-item {

    width: 100%;
    margin-top: 5px;

    .explorer-item__inner {
        display: flex;

        &:hover {
            .explorer-item__actions {
                opacity: 1;
            }
        }
    }

    .explorer-item__icon {
        flex-shrink: 0;

        width: 20px;
        height: 20px;
    }

    .explorer-item__text {
        margin-left: 10px;
        margin-top: 2px;

        font-size: 14px;
        line-height: 16px;

        white-space: nowrap;
    }

    .explorer-item__actions {
        opacity: 0;
        margin-top: 3px;
        margin-left: 5px;
    }

    .explorer-item__btn {
        display: inline-block;
        width: 14px;
        height: 14px;

        cursor: pointer;

        &:hover {
        opacity: 0.8;
        }

        + .explorer-item__btn {
        margin-left: 5px;
        }
    }

    .explorer-item__edit {
        background: url('../../assets/icons/edit.svg') 0 0 no-repeat;
        background-size: 14px 14px;
    }

    .explorer-item__delete {
        background: url('../../assets/icons/delete.svg') 0 0 no-repeat;
        background-size: 14px 14px;
    }
}
