.btn {
  font-family: inherit;
  font-size: .875rem;
  font-weight: 700;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
    border-color: rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
  }
}

.btn-primary {
  color: #fff;
  background-color: #0074d9;
  border-radius: 3px;

  &:hover {
    box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.0625);
  }

  &:active {
    box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.125), inset 0 3px 4px 0 rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.125);
  }

  &.is-disabled, &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}
