.close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;

  width: 24px;
  height: 24px;
  padding: 0;

  background: url('../../assets/icons/close-circle-outline.svg') 0 0 no-repeat;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}
