.folder {
    margin-top: 5px;

    .folder__head {
        display: flex;
        align-items: center;

        height: 20px;
    }

    .folder__toggle {
        display: block;
        width: 20px;
        height: 20px;

        background: url('../../assets/icons/folder.svg') 0 0 no-repeat;
        background-size: 20px 20px;

        &.active {
            background: url('../../assets/icons/folder-open.svg') 0 0 no-repeat;
            background-size: 20px 20px;
        }
    }

    .folder__title {
      margin-left: 10px;

      font-size: 14px;
      line-height: 16px;

      white-space: nowrap;
    }

    .folder__body {
        padding-left: 30px;
    }

    .folder__top {
      display: flex;

      &:hover {
          .folder__actions {
              opacity: 1;
          }
      }
    }

    .folder__actions {
        opacity: 0;
        height: 14px;
        margin-left: 5px;
    }

    .folder__btn {
        display: inline-block;
        width: 14px;
        height: 14px;

        cursor: pointer;

        &:hover {
        opacity: 0.8;
        }

        + .folder__btn {
        margin-left: 5px;
        }
    }

    .folder__edit {
        background: url('../../assets/icons/edit.svg') 0 0 no-repeat;
        background-size: 14px 14px;
    }

    .folder__delete {
        background: url('../../assets/icons/delete.svg') 0 0 no-repeat;
        background-size: 14px 14px;
    }

    .folder__add {
        background: url('../../assets/icons/plus.svg') 0 0 no-repeat;
        background-size: 14px 14px;
    }
}
