@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font: 400 14px/1.142 'Roboto', sans-serif;
}

//helpers
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mb10 {
  margin-bottom: 10px;
}

.fz21 {
  font-size: 21px;
}

.alert {
  color: red;
}


.explorer {
    padding: 20px 10px;
    width: 100%;
    height: 100vh;

    background-color: #282c34;
    overflow: auto;

    color: #fff;
}

.input-control {
    width: 100%;
    padding: 2px 5px;
    border: 1px solid #ccc;

    font-size: 14px;
    line-height: 16px;

    &.input-control_big {
      padding: 12px 15px;
    }
}
